body{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.top{
    display: flex;
    border: none;
    background-color: #1F2937;
    padding: 40px;
    padding-left: 129px;
    padding-right: 120px;
    padding-top: 0px;
    flex-direction: column;
}
.Logo img{
    border: 2px;
    border-style: groove;
    border-color: rgb(54, 43, 158);
    border-radius: 65%;
    height: 80px;
    width: 80px;
}
.header-mid{

    display: flex;
    flex-direction: row;
    padding: 1px;

}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.first-head{

    display: flex;
    flex-direction: column;
    align-items: start;

}
button{
    border: none;
    border-radius: 5px;
    background-color: #3882F6;
    font-size: 17px;
    color: white;
    padding: 10px;
    padding-right: 25px;
    padding-left: 25px;
    cursor: pointer;
}
.images img{
    display: flex;
    height: 250px;
    width: 600px;
    padding: 55px;
    padding-right: 0px;
}

h1{
    margin-bottom: 0px;
    font-size: 48px;
    color: #F9FAF8;
}

.first-head p{
    margin-top: 0px;
    margin-bottom: 15px;
}
.top,.p{
    font-size: 18px;
    color:#E5E7EB;
}
.Links ul{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    font-size: 18px;
    gap: 30px;
}
.Links a{
    color:#E5E7EB;
    text-decoration: none;
}
/* This is the Types section */

.Upper_mid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Information{
    display: flex;
    padding-right: 200px;
    padding-left: 200px;
    justify-content: space-between;
    gap: 100px;
}

.Types img{
    border: 3px;
    border-style: groove;
    border-color: rgb(93, 60, 184);
    border-radius: 20%;
    width: 150px;
    height: 150px;
}

h2{
    font-size: 24px;
    color: #1F2937;
}

/* Quote section */

.Quotes{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 30px;
    padding-left: 200px;
    padding-right: 200px;
}
.Quotes p{
    font-size: 36px;
    color: #1F2937;
}
.Quotes b{
    text-align: right;
}

/*Sign up section */

.Sign_up{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
}
.Sign{
    padding: 30px;

    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 1%;
    background-color:#3882F6;
    gap:100px;
    
}

.Text_sign h3{
    color: #E5E7EB;
    margin: 0px;
}
.Text_sign P{
    color: white;
    margin: 0px;
}
.Sign button{
    color: white;
    border: 2px;
    border-style: groove;
    border-color: white;
    
}

/*CopyRight section*/
.CopyRight{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 10px;
    background-color: #1F2937;
}